@charset "UTF-8";

body {
    background-color: #E4EEE8;
}

h1 {
    color: #595D5A;
}

h1#principal {
    text-align: center;
    background-color: #7A7F7C;
    color: white;
}

h2 {
    color: #7e807e;
}

.basico { 
    color: #3c805e;
}
.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: rgba(226, 226, 52, 0.582);
}